<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About SCR</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p>The Southern California Robotics Symposium (SCR) is a one-day technical symposium that aims to bring together roboticists from around Southern California. With a high density of academic institutions, research centers, and industry players, SCR is expected to have a large audience with broad expertise and interests. It will also be a showcase for established and up-and-coming robot companies as well as a recruitment opportunity for local companies and startups.</p>
              <p>
              After hosting <a href="http://robotics.usc.edu/scr/">SCR 2017</a> and <a href="http://robotics.usc.edu/scr/2016/index.html">SCR 2016</a>, we hope to continue the success of this annual conference. The symposium will once again feature an amazing line-up of speakers from academia and industry, robotics demos, and industry booths. In addition, feature poster/demo sessions will foster discussion on recent developments in robotics.</p>
              <p><a href="{{site.registration-page}}">Register for the symposium!</a></p>
            </div>
          </div>


        </div>
      </div>
