			<!-- Banner section -->
      <div id="banner" class="banner">
        <div class="container" style="text-align:right">
          <h2 class="right-align banner-heading">Southern California Robotics Symposium</h2>
          <h4 class="right-align banner-subheading">Caltech, April 27, 2019</h4>
          <br />
          <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
          <br />
        </div>
      </div>