<!-- Booths section -->
      <div class="section scrollspy section-gray-section" id="booths">
        <div class="container">
          <h4 class="center-align section-gray-header">Exhibition Booths and Sponsorship</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">

               <p >We would like to invite your company or university to be part of the Booth Exhibition which will take place in front of Ramo Auditorium and support {{site.conference_title_short}} {{site.year}}. </p>

             <br>  
             <p></p>
             <div class="container" style="text-align:center">
                <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: #3D1419">Register your booth</a>
              </div>
            </div>
          </div>
        </div>
      </div>