<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="sponsors">
        <div class="container">
          <h4 class="center-align section-white-header">List of Sponsors</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center">{{site.conference_title_short}} {{site.year}} is made possible by these organizations and companies.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col l2 m4 s6">
              <a href=""><img class="responsive-img" src="https://via.placeholder.com/300x150"></a>
            </div>
            <div class="col l2 m4 s6">
              <a href=""><img class="responsive-img" src="https://via.placeholder.com/300x150"></a>
            </div>                                                    
            <div class="col l2 m4 s6">
              <a href=""><img class="responsive-img" src="https://via.placeholder.com/300x150"></a>
            </div>
            <div class="col l2 m4 s6">
              <a href=""><img class="responsive-img" src="https://via.placeholder.com/300x150"></a>
            </div>
            <div class="col l2 m4 s6">
              <a href=""><img class="responsive-img" src="https://via.placeholder.com/300x150"></a>
            </div>     	    
            <div class="col l2 m4 s6">
              <a href=""><img class="responsive-img" src="https://via.placeholder.com/300x150"></a>
            </div>      
          </div>
        </div>
      </div>

        
