<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      {% include nav.html %}
    </header>
    <main>
      {% include banner.html %}
      {% include infoline.html %}
      {% include pictures.html %}            
      {% include about.html %}
      {% include speakers.html %}
      {% include schedule.html %} 
      {% include papers_list.html %}   
      {% include booths.html %}           
      {% include venue.html %}
      {% include organizers.html %}  
      {% include sponsors.html %}          
    </main>
    <footer class="page-footer" style="background-color: {{site.color.primary-dark}}">
    </footer>
    {% include modals.html %}
    {% include js.html %}
</body>
</html>